###############################################################################
#########   Credentials, see credentials section for more details
#########   https://github.com/dennisdeh/ib-docker?tab=readme-ov-file#credentials
#########
#########   To start update TWS_USERID and TWS_PASSWORD, everything is ready
#########   to start in paper mode with default VNC password, see VNC_SERVER_PASSWORD
###############################################################################
TWS_USERID=myTwsAccountName
TWS_PASSWORD=myTwsPassword
# for credentials
# TWS_PASSWORD_FILE=
# for parallel execution, live and paper simultaneourly
# TWS_USERID_PAPER=
# TWS_PASSWORD_PAPER=
# TWS_PASSWORD_PAPER_FILE=
# TWS rdesktop password
# PASSWD=abc
# PASSWD_FILE=
# TWS rdesktop UID and GID
# PUID=1000
# PGID=1000
# other options, Etc/UTC, Europe/Paris, America/New_York, Asia/Tokyo
TIME_ZONE=Europe/Zurich
###############################################################################
#########   Settings path and custom config, see documentation
#########   https://github.com/dennisdeh/ib-docker?tab=readme-ov-file#preserve-settings-across-containers
###############################################################################
# ib-gateway
# TWS_SETTINGS_PATH=/home/ibgateway/tws_settings
# tws
# TWS_SETTINGS_PATH=/config/tws_settings
TWS_SETTINGS_PATH=
# if you need custom config
# https://github.com/dennisdeh/ib-docker?tab=readme-ov-file#customizing-the-image
# CUSTOM_CONFIG=
###############################################################################
#########   Java memory settings, see
#########   https://www.ibkrguides.com/traderworkstation/increase-tws-memory-size.htm
###############################################################################
# JAVA_HEAP_SIZE=1024
###############################################################################
#########   IBC settings
#########   these are IBC settings passed to IBC's config.ini file
#########   for reference please visit
#########   https://github.com/IbcAlpha/IBC/blob/master/userguide.md
###############################################################################
# trading mode can be live,paper,both - both allows for parallel live and paper
TRADING_MODE=paper
READ_ONLY_API=no
TWOFA_TIMEOUT_ACTION=restart
TWOFA_EXIT_INTERVAL=
TWOFA_DEVICE=
BYPASS_WARNING=
AUTO_RESTART_TIME=11:59 PM
AUTO_LOGOFF_TIME=
TWS_COLD_RESTART=
TWS_ACCEPT_INCOMING=
SAVE_TWS_SETTINGS=
RELOGIN_AFTER_TWOFA_TIMEOUT=yes
EXISTING_SESSION_DETECTED_ACTION=primary
ALLOW_BLIND_TRADING=no
#TWS_MASTER_CLIENT_ID=
###############################################################################
#########   VNC settings
###############################################################################
VNC_SERVER_PASSWORD=myVncPassword
# see credentials section for more details
# VNC_SERVER_PASSWORD_FILE
###############################################################################
#########   SSH tunnel settings, see documentation
#########   https://github.com/dennisdeh/ib-docker?tab=readme-ov-file#ssh-tunnel
###############################################################################
SSH_TUNNEL=
SSH_OPTIONS=
SSH_ALIVE_INTERVAL=
SSH_ALIVE_COUNT=
SSH_PASSPHRASE=
SSH_PASSPHRASE_FILE=
SSH_REMOTE_PORT=
SSH_USER_TUNNEL=
SSH_RESTART=
SSH_VNC_PORT=
SSH_RDP_PORT=
###############################################################################
#########   Start scripts settings, see documentation
#########   https://github.com/dennisdeh/ib-docker?tab=readme-ov-file#start-up-scripts
###############################################################################
#START_SCRIPTS=init-scripts/start_scripts
#X_SCRIPTS=init-scripts/x_scripts
#IBC_SCRIPTS=init-scripts/ibc_scripts
###############################################################################
#########   Which IB application docker-compose.yml starts: ib-gateway or tws.
#########   COMPOSE_PROFILES is what Compose itself reads; IB_APP exists so
#########   there is one obvious name to edit. Set IB_APP to `ib-gateway,tws`
#########   to run both at once - their host ports below do not overlap.
###############################################################################
IB_APP=ib-gateway
COMPOSE_PROFILES=${IB_APP}
###############################################################################
#########   Host settings for the compose file in this repository
#########   docker-compose.yml reads all of these. Without them
#########   `docker compose config` fails, so a fresh clone cannot start.
#########   PORT_HOST_TWS_* belong to ib-gateway, PORT_HOST_RDESKTOP_* to tws.
###############################################################################
CONTAINER_NAME=ib-gateway
PORT_HOST_TWS_LIVE=4001
PORT_HOST_TWS_PAPER=4002
PORT_HOST_VNC_SERVER=5900
CONTAINER_NAME_TWS=tws
PORT_HOST_RDESKTOP_LIVE=7496
PORT_HOST_RDESKTOP_PAPER=7497
PORT_HOST_RDP=3370
###############################################################################
#########   SSH bastion, see bastion/README.md
#########   SSH_LISTEN_PORT is published on ALL host interfaces - that is the
#########   point of a bastion, but firewall it deliberately.
###############################################################################
CONTAINER_NAME_BASTION=bastion
SSH_LISTEN_PORT=22222
BASTION_USERS=ibgateway
USER_SHELL=
TOTP_ENABLED=no
TOTP_ISSUER=Bastion
TOTP_QR_ENCODE=UTF8
CA_ENABLED=no
SSHD_HOST_CERT=
SSHD_USER_CA=
BANNER_ENABLED=no
DNS=
APT_PROXY=
BASE_VERSION=resolute
IMAGE_VERSION=2604.03
